<!-- 
  In admin-menu-component
  </h3>
 <h3 style="text-align:center">
       <a class="alert alert-info" routerLink="/admin-menu/subject" >
              SubjectMenu
        </a>
      <a class="alert alert-info" routerLink="/admin-menu/faculty" >
              FacultyMenu
        </a><br>
  -->
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="w3-bar w3-black">


  <a href="#" class="w3-bar-item w3-button  "><i class="fa fa-home"></i>Home</a>
 

 <div class="w3-dropdown-hover w3-mobile">
      <button class="w3-button">Faculty</button>
      <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
        <a href="#" class="w3-bar-item w3-button">View Faculty</a>
        <a href="#" class="w3-bar-item w3-button">Add Faculty</a>
        <a href="#" class="w3-bar-item w3-button">Edit Faculty</a>
         <a href="#" class="w3-bar-item w3-button">Delete Faculty</a>
      </div>
    </div>

 

  <div class="w3-dropdown-hover w3-mobile">
      <button class="w3-button">Subject</button>
      <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
        <a href="#" class="w3-bar-item w3-button">View Subject</a>
        <a href="#" class="w3-bar-item w3-button">Add Subject</a>
        <a href="#" class="w3-bar-item w3-button">Delete Subject</a>
      </div>
    </div>


  <div class="w3-dropdown-hover w3-mobile">
      <button class="w3-button">Section</button>
      <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
        <a href="#" class="w3-bar-item w3-button">Create Section</a>
        <a href="#" class="w3-bar-item w3-button">Add Section</a>
        <a href="#" class="w3-bar-item w3-button">View Section</a>
      </div>
    </div>


 <div class="w3-dropdown-hover w3-mobile">
      <button class="w3-button">Report</button>
      <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
        <a href="#" class="w3-bar-item w3-button">Report Generation</a>
        <a href="#" class="w3-bar-item w3-button">Clear Report</a>
        
      </div>
    </div>

<router-outlet></router-outlet>
