<div style="text-align:center">
  <h1>
  <hr>
    Welcome to {{ title }}!
  </h1>
<h3>
  In app-main-component
</h3>


<!-- <a routerLink="/login-check" >
               Login-Check
          </a> <br>
 -->

<p class="alert alert-info" *ngIf=studentNoteFlag>
    Login:<input type="text" [(ngModel)]= "userName">
    <button
        class="btn btn-primary" 
        (click)="doCheck()">Enter 
    </button> <br>
        ( Note: Students enter their Register Number )
</p>
{{userName}}

  <h3 style="text-align:center">
        <a routerLink="/question-module" >
              Question-Module
        </a><br>

      <a routerLink="/admin-module" >
              Admin-Module
        </a><br>
  </h3>
<hr>

<router-outlet></router-outlet>
